/* CSS code requested by index.html file */

* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#section1 {
    margin: 0;
    padding: 0;

    #intro {
        height: 100vh;
        background-image: url('../images/bg-1.jpg');
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        #notice {
            text-align: center;
            color: #ffffff;
            margin: 0;
            padding: 0;
        
            h1 {
                font-size: 70px;
                font-weight: 400;
                text-shadow: 2px 2px black;
                margin: 0;
                padding: 0px;
                }
            
            p {
                font-size: 30px;
                text-shadow: 1px 1px black;
                font-weight: 600;
                margin: 0;
                padding: 0;
            }
        }
    }
}

#section2 {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .inner-section2 {
        max-width: 1140px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;

        .col-3 {
            width: 32%;
            padding: 0;
            margin-top: 75px;
            background-color: #dddddd;

            img {
                width: 100%;
            }
            
            .col-3-up {
                margin: 0;
                padding: 10px 20px 10px 20px;
            }

            .col-3-text {
                font-size: 14px;
                padding: 0 20px 0 20px;
                margin: 0;
            }

            .col-3-button-area {
                height: 110px;
                display: flex;
                justify-content: center;
                align-items: center;

                .col-3-button {
                    width: 50%;
                    font-size: 18px;
                    color: #ffffff;
                    border: 0;
                    border-radius: 10px;
                    padding: 15px;
                    margin: 0;
                    cursor: pointer;
                }

                .button-green {
                    background-color: #178a27;
                    transition: all 0.3s ease-in-out;
                }

                .button-green:hover {
                    background-color: #dddddd;
                    border: 1px solid #178a27;
                    color: #178a27;
                }

                .button-blue {
                    background-color: #1686c1;
                    transition: all 0.3s ease-in-out;
                }

                .button-blue:hover {
                    background-color: #dddddd;
                    border: 1px solid #1686c1;
                    color: #1686c1;
                }

                .button-red {
                    background-color: #852406;
                    transition: all 0.3s ease-in-out;
                }

                .button-red:hover {
                    background-color: #dddddd;
                    border: 1px solid #852406;
                    color: #852406;
                }
            }
        }

        .col-2 {
            width: 49%;
            padding: 0;
            margin-top: 75px;
            background-color: #dddddd;

            img {
                width: 100%;
            }

            .col-2-up {
                margin: 0;
                padding: 10px 20px 0 20px;
                color: #666666;
                text-align: center;
            }

            .col-2-text {
                font-size: 14px;
                padding: 20px;
                margin: 0;
            }

            .col-2-button-area {
                height: 90px;
                display: flex;
                justify-content: end;
                align-items: center;

                .col-2-button {
                    width: 30%;
                    font-size: 18px;
                    color: #666666;
                    background-color: #dddddd;
                    border: solid 1px #666666;
                    border-radius: 10px;
                    padding: 15px;
                    margin-right: 20px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }

                .col-2-button:hover {
                    background-color: #aaaaaa;
                    color: #ffffff;
                }
            }
        }
    }

    .inner-section2:nth-child(2) {
        padding-bottom: 75px;
    }
}

#section3 {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    #landscape {
        width: 100%;
        height: 360px;
        background-image: url('../images/bg-2.jpg');
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;

        #inner {
            width: 60%;
            text-align: center;
            color: #ffffff;
            padding: 0;
            margin: 0;
        }

        h2 {
            font-size: 35px;
            font-weight: 500;
            padding-bottom: 10px;
            margin: 0;
            text-shadow: 1px 1px 3px black;
        }

        p {
            font-size: 20px;
            padding: 0;
            margin: 0;
            font-weight: 500;
            text-shadow: 1px 1px 5px black;
            line-height: 30px;
        }
    }

    .inner-section3 {
        max-width: 1140px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;

        .col-4 {
            width: 23.5%;
            padding-bottom: 10px;
            margin-top: 75px;
            background-color: #dddddd;

            img {
                width: 100%;
            }
            
            .col-4-up {
                margin: 0;
                padding: 10px 16px 0 16px;
                color: #666666;
                text-align: center;
            }

            .col-4-text {
                font-size: 14px;
                padding: 16px;
                margin: 0;
            }

            .col-4-button-area {
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;

                .col-4-button {
                    width: 40%;
                    font-size: 16px;
                    color: #666666;
                    background-color: #dddddd;
                    border: solid 1px #666666;
                    border-radius: 10px;
                    padding: 13px;
                    margin: 0;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }

                .col-4-button:hover {
                    background-color: #aaaaaa;
                    color: #ffffff;
                }
            }
        }

        .col-1 {
            padding: 0;
            margin: 75px 0 75px 0;
            background-color: #dddddd;

            img {
                width: 100%;
            }

            .col-1-up {
                margin: 0;
                padding: 10px 20px 0 20px;
                color: #666666;
                text-align: start;
            }

            .col-1-text {
                font-size: 14px;
                padding: 20px;
                margin: 0;
            }

            .col-1-button-area {
                height: 90px;
                display: flex;
                justify-content: start;
                align-items: center;

                .col-1-button {
                    width: 15%;
                    font-size: 18px;
                    color: #666666;
                    background-color: #dddddd;
                    border: solid 1px #666666;
                    border-radius: 10px;
                    padding: 15px;
                    margin-left: 20px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }

                .col-1-button:hover {
                    background-color: #aaaaaa;
                    color: #ffffff;
                }
            }
        }
    }
}

#section4 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    #back-frame {
        width: 100%;
        background-image: url('../images/bg-3.jpg');
        margin: 0;
        padding: 0;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        display: flex;
        justify-content: center;

        #back-form {
            max-width: 760px;
            margin: 0;
            padding: 40px 0 40px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
                color: #ffffff;
                font-weight: normal;
                line-height: 25px;
                text-shadow: 2px 2px 1px black;
                margin: 0;
                padding-bottom: 30px;
            }
    
            #back-text {
                margin-bottom: 20px;
                padding: 0;
                border-radius: 8px;
                background-color: rgba($color: #ffffff, $alpha: 0.3);

                p {
                    font-size: 16px;
                    line-height: 30px;
                    margin: 0;
                    padding: 20px 60px 20px 60px;
                    text-align: center;
                }
            }

            #struct-form {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;

                #top-form {
                    display: flex;
                    justify-content: space-between;
                    height: 120px;

                    #left-column {
                        width: 49%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin: 0;
                        padding: 0;
    
                        input {
                            width: 100%;
                            background-color: rgba($color: #ffffff, $alpha: 0.3);
                            border-radius: 8px;
                            border: 0;
                            height: 30px;
                            margin: 0;
                            padding-left: 10px;
                        }
    
                        input::placeholder {
                            color: #000000;
                            padding: 0;
                            margin: 0;
                            font-size: 15px;
                        }
                    }
    
                    #right-column {
                        width: 49%;
                        margin: 0;
                        padding: 0;
    
                        textarea {
                            width: 100%;
                            background-color: rgba($color: #ffffff, $alpha: 0.3);
                            font-family: 'Open Sans', sans-serif;
                            border-radius: 8px;
                            border: 0;
                            height: 100%;
                            margin: 0;
                            padding: 5px 0 0 10px;
                            resize: none;
                        }
    
                        textarea::placeholder {
                            color: #000000;
                            font-size: 15px;
                            font-family: 'Open Sans', sans-serif;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }

                #bottom-form {
                    display: flex;
                    justify-content: space-between;

                    #left {
                        width: 49%;
                    }

                    #right {
                        width: 49%;

                        button {
                            font-size: 16px;
                            color: #ffffff;
                            background-color: #000000;
                            border: solid 1px #ffffff;
                            border-radius: 8px;
                            padding: 10px;
                            margin-top: 20px;
                            cursor: pointer;
                            transition: all 0.3s ease;
                        }
        
                        button:hover {
                            background-color: #383e4c;
                        }
                    }
                }
            }
        }
    }

    .inner-section4 {
        max-width: 1140px;
        height: 360px;
        padding: 0;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        #text-up {
            color: #383e4c;

            h1, p {
                margin: 0;
            }

            h1 {
                padding-top: 35px;
                font-weight: normal;
                font-style: italic;
            }

            p {
                padding-top: 30px;
                font-style: italic;
                font-size: 15px;
            }
        }

        h6 {
            color: #383e4c;
            font-weight: normal;
            padding-bottom: 30px;
            margin: 0;
            font-size: 12px;
        }
    }
}

#scroll-button {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 99;
    cursor: pointer;
}

@import "menu";

@import "prime";
